@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,800&display=swap");

body {
	background-color: #000;
	background-size: cover;
	background-position: 50% 50%;
	background-repeat: no-repeat;
}

.btn,
.jumbotron,
.nav :hover {
	border-radius: 0px;
}

#main-title {
	font-size: 5em;
	font-family: "Montserrat sans-serif";
	font-weight: 800;
	font-style: italic;
	letter-spacing: 0.2em;
}

.social-button {
	margin: 0px 10px;
	background-color: rgb(255, 255, 255);
	display: inline-flex;
	align-items: center;
	color: rgba(0, 0, 0, 0.54);
	box-shadow: rgb(0 0 0 / 24%) 0px 2px 2px 0px, rgb(0 0 0 / 24%) 0px 0px 1px 0px;
	padding: 0px;
	border-radius: 2px;
	border: 1px solid transparent;
	font-size: 14px;
	font-weight: 500;
	font-family: Roboto, sans-serif;
}

footer {
	bottom: 0px;
	left: 0px;
	right: 0px;
}

.list {
	color: white;
	line-height: 2em;
}

.list a {
	color: white;
}

.forgot {
	color: white;
}

.forgot:hover {
	color: white;
}

#tsparticles {
	z-index: 0;
	width: 100%;
	height: 100%;
	position: fixed;
	background-color: #000;
	background-size: cover;
	background-position: 50% 50%;
	background-repeat: no-repeat;
}

@media only screen and (max-width: 550px) {
	#main-title {
		font-size: 4em;
		font-weight: 600;
	}
}

@media only screen and (max-width: 400px) {
	#main-title {
		font-size: 2.5em;
		font-weight: 500;
		letter-spacing: 0.1em;
	}
}

@media only screen and (max-width: 768px) {
	#carttt {
		padding: 0 !important;
		margin: 0;
	}
}

#verifyEmailAddressLink:hover {
	text-decoration: underline;
	cursor: pointer;
}
